*.suo
*.dll
BeerShop/bin/BeerShop.dll
BeerShop.suo
BeerShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BeerShop/obj/Debug/ResolveAssemblyReference.cache
BeerShop/obj/Debug/BeerShop.dll
BeerShop/obj/Debug/BeerShop.pdb
BeerShop/bin/BeerShop.dll
BeerShop/bin/BeerShop.pdb
BeerShop/obj/Debug/BeerShop.csproj.FileListAbsolute.txt
BeerShop/obj/Debug/BeerShop.dll
BeerShop/obj/Debug/BeerShop.pdb
BeerShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BeerShop/obj/Debug/BeerShop.dll
BeerShop/obj/Debug/BeerShop.pdb
BeerShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BeerShop/obj/Debug/BeerShop.csproj.FileListAbsolute.txt
BeerShop/obj/Debug/BeerShop.dll
BeerShop/obj/Debug/BeerShop.pdb
BeerShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BeerShop/obj/Debug/BeerShop.csproj.FileListAbsolute.txt
BeerShop/obj/Debug/BeerShop.dll
BeerShop/obj/Debug/BeerShop.pdb
BeerShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BeerShop/obj/Debug/BeerShop.csproj.FileListAbsolute.txt
BeerShop/obj/Debug/BeerShop.csproj.FileListAbsolute.txt
BeerShop/obj/Debug/BeerShop.dll
BeerShop/obj/Debug/BeerShop.pdb
BeerShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
