@model BeerShop.Models.ItemCategoryHelper


@using (Html.BeginForm("Create", "Comments"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        <strong>Content: </strong>
        <br />
        <br />
        <div class="editor-field">
            @Html.TextAreaFor(model => model.comment.content, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.comment.content)
        </div>
            
            @Html.HiddenFor(model => model.item.ItemID)
    

        <p>
            <button type="submit" class="btn">Add comment</button>
        </p>
    </fieldset>
}
