@model BeerShop.Models.Comment
            <div>
            <strong>Autor:</strong>
            @Html.DisplayFor(modelItem => Model.author.firstName)
            </div>
            <div>
            <strong>Date:</strong>
            @Html.DisplayFor(modelItem => Model.date)
            </div>
            <div class="span11">
            <p class="lead"><small><em>@Html.DisplayFor(modelItem => Model.content)</em></small></p>
            </div>
