@model IEnumerable<BeerShop.Models.Comment>

@{
    ViewBag.Title = ViewBag.PermissionLevel;
    
}

<h2>Comments</h2>
<table>
@foreach (var item in Model)
{
    if (item.author == Session["User"])
    {
       {Html.RenderPartial("_CommentEdit", item); }
    }else
    {
        { Html.RenderPartial("_CommentDisplay", item); }
    }

         
}
</table>


