@model IEnumerable<BeerShop.Models.Comment>

@{
    ViewBag.Title = ViewBag.PermissionLevel;
    
}
@if (Model.Count() < 1)
{
    <p>Waiting for your comment </p>
}

<h2>Comments</h2>
<table>
@foreach (var item in Model)
{
    if (item.author.email == User.Identity.Name)
    {
       {Html.RenderPartial("_CommentEdit", item); }
    }else
    {
        { Html.RenderPartial("_CommentDisplay", item); }
    }

         
}
</table>


