@model BeerShop.Models.ItemCategoryHelper

@{
    ViewBag.Title = ViewBag.PermissionLevel;
    
}

<h2>Comments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id = "ItemIndex">
   

<table>

</table>

 </div>
