@model IEnumerable<BeerShop.Models.CategoryItem>


@foreach (var c in Model)
{
    

   <li class = "disable">
    @Html.ActionLink(c.name, "Index", new { page = 1, categoryType = c.category.name, category = c.name })
    </li>

    
}