@model IEnumerable<BeerShop.Models.Category>
@{
    ViewBag.Title = "Menu";
}


<ul class="nav nav-list">

@foreach(var c in Model)
{
    <h1>
    <li class="nav-header">
    @Html.DisplayFor(Modelitem => c.name)
    </li>
    </h1>
    {Html.RenderPartial("_ItemsCategory",c.categories);}   
  
}
</ul>




